body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif
}
.headings{
  background-color: gray;
  color: white;
  margin-left: 1em;

}
.w3-row-padding img {
  margin-bottom: 12px
}

.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/PicsArt2.jpg");
  min-height: 100%;
}
.paraph{
  float: right;
  margin-left: 26em;
}
h3{
  font-family: "Montserrat", sans-serif;
  margin-left: 16em;
}
.contacts{
  margin-left: 25em;
}
.barContainer{
  margin-left: 26em;
}
.numericLink, .codexLink, .chat2brandLink{
  color: blue;
}
